* { margin:0; padding:0; list-style: none;}

.icon-btn-create {
	background-image:url('../images/icon/btn/create.png')!important;
}

.icon-btn-update {
	background-image:url('../images/icon/btn/update.png')!important;
}

.icon-btn-destroy {
	background-image:url('../images/icon/btn/destroy.png')!important;
}

.icon-btn-enabled {
	background-image:url('../images/icon/btn/enabled.png')!important;
}

.icon-btn-disabled {
	background-image:url('../images/icon/btn/disabled.png')!important;
}

.icon-btn-clear {
	background-image:url('../images/icon/btn/clear.png')!important;
}

.icon-btn-male {
	background-image:url('../images/icon/btn/male.png')!important;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 14px;
}

.icon-btn-female {
	background-image:url('../images/icon/btn/female.png')!important;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 14px;
}

.custom-first-last .x-grid-row-selected .x-grid-cell-first {
    background-image: url('../images/icon/btn/check2.png');
    background-repeat: no-repeat;
    padding-left: 12px;
}

.x-boundlist-item img.chkCombo {
	background: transparent url('../images/icon/btn/unchecked.gif');
	width: 15px;
	height: 15px;
}

.x-boundlist-selected img.chkCombo{
	background: transparent url('../images/icon/btn/checked.gif');
	width: 15px;
	height: 15px;
}

.icon-window-question {
	background-image:url('../images/icon/window/question.png')!important;
	background-position: left center;
	background-repeat: no-repeat;
}

.icon-btn-funcionario {
	background-image:url('../images/icon/btn/funcionario.png')!important;
}

.icon-btn-save {
	background-image:url('../images/icon/btn/save.png')!important;
}

.icon-btn-cancel {
	background-image:url('../images/icon/btn/cancel.png')!important;
}

.desativado .x-grid-cell-inner {
	text-decoration:line-through;
	color:red;
}

/*Sobrescreve o css da função getRowClass*/
.custom .x-grid-cell-inner {
	color:black;
	text-decoration:none !important;
    font-weight: bold;
}

/*Sobrescreve o css da função getRowClass*/
.x-grid-cell-row-checker .x-grid-cell-inner {
	text-decoration:none !important;    
}

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url('../images/icon/btn/greater_than.png') !important;
}

.ux-rangemenu-lt {
    background-image: url('../images/icon/btn/less_than.png') !important;
}

.ux-rangemenu-eq {
    background-image: url('../images/icon/btn/equals.png') !important;
}

.ux-filtered-column {
	color:red;
    font-style: italic;
    font-weight: bold;
	border-left:  1px solid #C7E3B4;
	border-right: 1px solid #C7E3B4;
}

.ux-filtered-column {
	background: transparent url('../images/icon/btn/header_bg.png') no-repeat !important;
	padding-left: 17px;
}

.ux-gridfilter-text-icon {
    background-image: url('../images/icon/btn/find.png') !important;
}

.ux-notification-icon-exclamation {
    background-image: url('../images/icon/btn/exclamation.png') !important;	
}

.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
	width: 200px;
}

.ux-notification-icon-information {
	background-image: url('../images/icon/btn/info.png');
}

.ux-notification-icon-error {
	background-image: url('../images/icon/btn/error.png');
}

.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url('../images/icon/window/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 18px 5px;
	width: 200px;
	background-color: transparent;
	border: 0px solid white;
}